@page
@model PrivacyModel
@{
    ViewData["Title"] = "Tentang Caffe-In";
}
<h1>@ViewData["Title"]</h1>

<p>
    Caffe-In adalah caffe yang telah berdiri sejak zaman majapahit, menjadi tempat tepat untuk para anak muda nongkrong
    dan menghabiskan waktu bersama dengan teman-temanya. Kopi di Caffe-In adalah kopi dari biji kopi terbaik di dunia
    jadi tidak salah jika kopinya juga menjadi kopi dengan rasa dan kualitas yang pastinya sangat nikmat
</p>
