@page
@model CaffeIn.Pages.User.DoneBayarModel
@{
    ViewData["Title"] = "DoneBayar";
}

<h1 class="display-4">Terima Kasih Telah Membeli Kopi di Caffe-In</h1>
<hr class="my-4">
<a asp-page="/ListKopi" class="btn btn-lg btn-outline-warning">Klik untuk beli coffe lagi</a>

