@page
@model CaffeIn.Pages.User.SuccessChangePasswordModel
@{
    ViewData["Title"] = "Password Sudah Diganti!";
}

<div style="background-color: #ffff;" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Selamat! Password Anda Berhasil Di Ubah</h1>
        <p class="lead">Dengan Mengganti Password Kamu Telah menjaga informasi dan data penting yang tersimpan di dalam sebuah akun</p>
        <hr class="my-4">
        <a class="btn btn-info" asp-page="/Index" role="button">Kembali Ke Halaman Utama</a>
    </div>
</div>

